/** General / Utility **/

* {
    margin: 0;
    font-family: "Manjari", sans-serif;
}

body {
    background-color: #060318;
}

ul{
    list-style: none;
}

.container {
    width: 67%;
    border: none;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 25px;
    background-color: white;
}

.container h1 {
    margin: 50px 0 0 60px;
    font-size: 36px;
    font-weight: 200;
}

.hidden {
    display: none;
}

/** NAVBAR STYLING **/
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    padding: 100px 40px 0 60px;
}

.search {
    margin-right: auto;
}

.search input {
    width: 50%;
    height: 40px;
    border-radius: 35px;
    border: none;
    background-color: #c4c4c4;
    opacity: 28%;
    font-size: 18px;
    padding: 0 60px;
    outline: none;
}

.add-photos-button {
    text-decoration: none;
    text-align: center;
    padding: 10px 50px;
    color: white;
    border-radius: 20px;
    line-height: 20px;
    background-image: linear-gradient(to right, #4a26e9, #6a0ebb);
}

/** GRID Styling **/


.image-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.grid-item {
    height: 23vh;
    flex-grow: 1;
    padding: 4px 4px;
}

.grid-item img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.grid-item-selected {
    box-shadow: 0 0 10px 0px rgb(0, 0, 225,0.4);
}


.selected-count-modal {
    z-index: 9999;
    bottom: 0;
    width: 60%;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: fixed;
    height: 60px;
    background-color: white;
    border-radius: 10px;
}

.selectOptions {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    color: #6a0ebb;
}

.alert {
    color: #bb0e2d;
}

.unselect-button{
    font-size: 1.5em;
}



.popup-modal {
    width: 50%;
    left: 25%;
    top: 30%;
    height: auto;
    position: fixed;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
