/** General / Utility **/

* {
    margin: 0;
    font-family: "Manjari", sans-serif;
}

body {
    background-color: #060318;
}

.container {
    width: 67%;
    border: none;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 25px;
    background-color: white;
}

.container h1 {
    margin: 50px 0 0 60px;
    font-size: 36px;
    font-weight: 200;
}

.hidden {
    display: none;
}



/** NAVBAR STYLING **/
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    padding: 100px 40px 0 60px;
}

.search {
    margin-right: auto;
}

.search input {
    width: 500px;
    height: 40px;
    border-radius: 35px;
    border: none;
    background-color: #c4c4c4;
    opacity: 28%;
    font-size: 18px;
    padding: 0 60px;
    outline: none;
}

.add-photos-button {
    text-decoration: none;
    text-align: center;
    padding: 10px 50px;
    color: white;
    border-radius: 20px;
    line-height: 20px;
    background-image: linear-gradient(to right, #4a26e9, #6a0ebb);
}

/** GRID Styling **/

.image-grid {
    padding: 0px 60px;
}

.grid-item {
    height: 300px;
    width: 350px;
    overflow:hidden;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item img{
    width: 350px;
}

.grid-item:hover {
    filter: saturate(0%);
}

.grid-item-selected{
    box-shadow: 0 0 5px 3px rgba(0, 140, 186, 0.7);
}

.image-container p {
    color: #b7b7b7;
    font-size: 18px;
    margin: 20px 0 5px 60px;
}

.selected-count-modal{
    z-index: 9999;
    bottom: 0;
    width: 60%;
    left: 0;
    margin: 0 auto;
    right: 0;
    position: fixed;
    height: 60px;
    background-color: white;
    border-radius: 10px;
}

.selectOptions{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    color: #6A0EBB;
}

.alert{
    color: #BB0E2D;
}