/** General / Utility **/

* {
    margin: 0;
    color: black;
    font-family: "Manjari", sans-serif;
}

body {
    background-color: #060318;
}

.container {
    width: 67%;
    border: none;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 25px;
    background-color: white;
}

.container h1 {
    margin: 50px 0 0 60px;
    font-size: 36px;
    font-weight: 200;
}

.hidden {
    display: none;
}

img {
    height: 200px;
    width: 300px;
}

/** NAVBAR STYLING **/
.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
    padding: 100px 40px 0 60px;
}

.search {
    margin-right: auto;
}

.search input {
    width: 500px;
    height: 40px;
    border-radius: 35px;
    border: none;
    background-color: #c4c4c4;
    opacity: 28%;
    font-size: 18px;
    padding: 0 60px;
    outline: none;
}

.add-photos-button {
    text-decoration: none;
    text-align: center;
    padding: 10px 50px;
    color: white;
    border-radius: 20px;
    line-height: 20px;
    background-image: linear-gradient(to right, #4a26e9, #6a0ebb);
}

/** GRID Styling **/

.image-grid {
    padding: 0px 60px;
}

.grid-item {
    width: 300px;
    height: 200px;
    margin: 10px 10px;
    padding: 10px 10px;
}

.grid-item:hover {
    filter: saturate(0%);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.image-container p {
    color: #b7b7b7;
    font-size: 18px;
    margin: 20px 0 5px 60px;
}
